<!-- index.html -->
{% extends 'search/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div class="center-wrapper">

    <h1>Do you know your music?</h1>
    <p id="subtitle">Spotify scores its music with</p>

    <form action="{% url 'playlists:search_results' %}" method="get">
        <input type="text" name="query" placeholder="Search by Song or Artist">
        <input type="number" step="1" name="danceability_min" min="0" max="10" placeholder="Danceability Min">
        <input type="number" step="1" name="danceability_max" min="0" max="10" placeholder="Danceability Max">
        <button type="submit">Search</button>
    </form>
    
    
    <div id="selectedSongBox"></div>
    <audio id="audio" controls volume=".3">
        <source src="">
        Your browser does not support the audio element.
    </audio>
</div>

<div id="resultsBox">
    
    <h2>Search by Spotify</h2>
    <div id="tracksContainer" class="results-container"></div>
</div>

<!-- Other scripts and logic you had can be added here -->

{% endblock %}
